<% @ip = request.remote_ip %>
<div class="introOuterDiv">
	<div class="introInnerDiv">
	We run into them every so often.  They look and act like
			regular people, but suddenly, something happens and they react, going out of their way to help you.  Some of them
			go so far as to change your life.  They are the heroes
			and heroines of our lives, like angels put on this Earth.
			Unfortunately, these people are almost hardly ever
			recognized.  This site is dedicated to celebrating
			the acts of these amazing people.
	</div>
	<p class="add">
		Post your story or click on the
		<img src="/assets/halo-left-empty.png">
		to give
		<span class="storyhalopoints">
			Halo Points
		</span>
		to your favorite stories.
	</p>
	<p class="add">
		<%= link_to "+ Angel Story", new_story_path, remote: true,
			class: "small button success round", id: :add_angel_link %>
	</p>
</div>
<% flash.each do |key, value| %>
   <div class="flash" id="<%= key %>">
     <%= value %>
  </div>
<% end %>
<div id="stream">
	<% @stories.each do |story| %>
		<%= render story %>
	<% end %>
  </div>